table.list td.group-name {
	background-color: #808080;
	color: white;
	font-weight: bold;
}

table.list td.group-name-hover {
	background-color: #404040;
	color: white;
	font-weight: bold;
}

table.list td.plain {
	background-color: #eeeeee;
}

table.list td.unknown {
	background-color: #ffffc0;
}

table.list td.succeeded {
	background-color: #c0ffc0;
}

table.list td.failed {
	background-color: #ffc0c0;
}

table.list td.hi-plain {
	background-color: #cecece;
}

table.list td.hi-unknown {
	background-color: #e0e0a0;
}

table.list td.hi-succeeded {
	background-color: #a0e0a0;
}

table.list td.hi-failed {
	background-color: #e0a0a0;
}

table.list td.revenue {
	background-color: #3366CC;
	color: white;
}

table.list td.hi-revenue {
	background-color: #6666CC;
	color: white;
}

/* ex: noet ts=4 filetype=css */