/RemoteSystemsTempFiles
/binaries
/conf
/config
/env*
/.bin
/bin
/work
/.apt_generated
/wbs-framework.jar
/c/modeminit
/c/socktest
/.Trash-*
/hs_err_*.log

# haskell
/.cabal-sandbox
/cabal.sandbox.config
/dist
/.stack-work
