.core-system-restart-state-error,
.core-system-restart-state-stopped,
.core-system-restart-state-unknown {
	background-color: #ffc0c0;
}

.core-system-restart-state-running {
	background-color: #c0ffc0;
}

.core-system-restart-state-starting,
.core-system-restart-state-stopping {
	background-color: #ffffc0;
}

/* ex: noet ts=4 filetype=css */