table.events tr.messageIn td {
	background: #ccccff;
}

table.events tr.messageOut td {
	background: #ffffcc;
}

table.events tr.messageBill td {
	background: #ffcccc;
}

/* ex: noet ts=4 filetype=css */