table.list td.chat-user-type-user {
	text-align: center;
	background: #cccccc;
	color: black;
}

table.list td.chat-user-type-monitor {
  text-align: center;
  background: #999999;
  color: white;
}

table.list td.gender-male {
  text-align: center;
  background: #ccccff;
  color: black;
}

table.list td.gender-female {
  text-align: center;
  background: #ffcccc;
  color: black;
}

table.list td.orient-gay {
  text-align: center;
  background: #ffccff;
  color: black;
}

table.list td.orient-bi {
  text-align: center;
  background: #ffffcc;
  color: black;
}

table.list td.orient-straight {
  text-align: center;
  background: #ccffff;
  color: black;
}

/* ex: noet ts=4 filetype=css */