.form-object-search-dropdown {

	position: absolute;
	height: 20em;
	padding-top: 0.2em;

	overflow: auto;

	border: 1px solid #2471a3;
	background: white;
	color: black;

}

.form-object-search-dropdown div {

	margin-top: -0.2em;
	padding: 0.2em;

}

.form-object-search-dropdown div.hover {

	background: #aed6f1;

	cursor: pointer;

}

/* ex: noet ts=4 filetype=css */