.node {
	font-weight: bold;
	color: blue;
}

.can-off {
	text-decoration: none;
	color: black;
	font-weight: normal;
}

.can-on {
	text-decoration: none;
	color: red;
	font-weight: bold;
}

.cangrant-off {
	text-decoration: none;
	color: black;
	font-weight: normal;
}

.cangrant-on {
	text-decoration: none;
	color: red;
	font-weight: bold;
}

.group-can {
	text-decoration: none;
	color: red;
	font-weight: normal;
}

/* ex: noet ts=2 filetype=css */