
body, input, select, textarea { font-family: verdana; font-size: 12px; }
h1 { font-size: 16px; }
h2 { font-size: 14px; }
h3 { font-size: 13px; }

html { padding: 0; margin: 0; }
body { padding: 0; margin: 5px; }

form { margin: 0; padding: 0; }

/* table.menu */

table.menu {
	margin: 0 0 5px 0;
	border-spacing: 1px;
}

table.menu th,
table.list td {
	padding: 0.2ex 0.6ex;
}

table.menu th {
	background: darkblue;
	color: white;
}

table.menu th {
	background: darkblue url(/style/table-corner.png) top left no-repeat;
}

table.menu th.hilite {
	background: darkred;
	color: white;
}

table.menu tr td {
	background: #eeeeee;
	color: black;
}

table.menu tr.a td { background: #eeeeee; color: black; }
table.menu tr.b td { background: #eeeeee; color: black; }
table.menu tr.hover td, table.list tr.selected td, table.list td.selected, table.list td.hover { background: #bbbbbb; }
table.menu tr.sep { height: 2px; }

table.menu tr.alert td { background: red; color: white; font-weight: bold; }
table.menu tr.alert_hover td { cursor: pointer; background: darkred; color: white; font-weight: bold; }

/* table.list */

table.list {
	margin: 0 0 5px 0;
	border-spacing: 1px;
}

table.list th,
table.list td {
	padding: 0.2ex 0.6ex;
}

table.list th {
	background: darkblue;
	color: white;
}

table.list th { background: darkblue url(/style/table-corner.png) top left no-repeat; }
table.list th.hilite { background: darkred; color: white; }
table.list tr td { background: #eeeeee; color: black; }
table.list tr.a td { background: #eeeeee; color: black; }
table.list tr.b td { background: #eeeeee; color: black; }
table.list tr.hover td, table.list tr.selected td, table.list td.selected, table.list td.hover { background: #bbbbbb; }
table.list tr.sep { height: 2px; }

table.list tr.alert td { background: red; color: white; font-weight: bold; }
table.list tr.alert_hover td { cursor: pointer; background: darkred; color: white; font-weight: bold; }

table.list tr.message-in td {
	background: #ddddff;
}

table.list tr.message-in.selected td,
table.list tr.message-in.hover td {
	background: #b1b1cc;
}

table.list tr.message-out td {
	background: #ffffdd;
}

table.list tr.message-out.selected td,
table.list tr.message-out.hover td {
	background: #ccccb1;
}

table.list tr.message-out-charge td {
	background: #ffdddd;
}

table.list tr.message-out-charge.selected td,
table.list tr.message-out-charge.hover td {
	background: #ccb1b1;
}

table.list tr td.message-status-unknown {
	background: #ffffc0;
}

table.list tr.hover td.message-status-unknown {
	background: #cccc9a;
}

table.list tr td.message-status-succeeded {
	background: #c0ffc0;
}

table.list tr.hover td.message-status-succeeded {
	background: #9acc9a;
}

table.list tr td.message-status-failed {
	background: #ffc0c0;
}

table.list tr.hover td.message-status-failed {
	background: #cc9a9a;
}

table.details { border-spacing: 1px; }
table.details th { text-align: left; background: darkblue; color: white; }
table.details td { background: #eeeeee; color: black; }
table.details th, table.details td { padding: 0.2ex 0.6ex; }
table.details tr.hover td, table.details tr.selected td, table.details td.selected, table.details td.hover { background: #bbbbbb; }
table.details tr.sep { height: 2px; }

table.details tr.alert td { background: red; color: white; font-weight: bold; }
table.details tr.alert_hover td { cursor: pointer; background: darkred; color: white; font-weight: bold; }

td.bigger { font-size: 140%; }

table.layout td, table.layout th { padding: 0; background: transparent; }
table.list table.layout tr td, table.list table.layout tr th { padding: 0; background: transparent; }

h1, h2, h3, p { margin: 5px 0; }

h1, h2 { background: navy; color: white; padding: 0.2ex 0.6ex; }
h3 { background: navy; color: white; padding: 0.2ex 0.6ex; }

p.links { margin: 5px 0; line-height: 1.5; }
p.links a { background: #eeeeee; color: black; padding: 0.2ex 0.6ex; text-decoration: none; }
p.links a:hover, p.links a.selected { background: #bbbbbb; }

p.error { border-top: 1px solid #cc9999; background: #ffcccc; padding: 2px 5px; }
p.notice { border-top: 1px solid #99cc99; background: #ccffcc; padding: 2px 5px; }
p.warning { border-top: 1px solid #cccc99; background: #ffffcc; padding: 2px 5px; }

img { border: 0; vertical-align: middle; }

img.graph { border: 2px solid #c0c0c0; }

img.floatRightThumb { position: float; float: right; margin: 2px; }

.hide { display: none; }

/* ------------------------------------------------------------ collapsing title stuff */

table.head-1-big {
	margin: 0 0 0.6ex 0;
	clear: left;
	border-spacing: 0;
	padding: 0;
}
table.head-1-big tr td.h {
	border-top: 2px solid navy;
	border-bottom: 2px solid navy;
	background: navy;
	color: white;
	font-size: 110%;
	font-weight: bold;
	padding: 0.2ex 1ex;
	white-space: nowrap;
}
table.head-1-big tr td.l {
	display: table-cell;
	background: #ddddff;
	/*background: white;*/
	/*border-top: 2px solid navy;*/
	width: 100%;
	padding: 0 0.5ex;
	vertical-align: middle;
}
table.head-1-big tr td.l a {
	display: block;
	float: left;
	color: black;
	/*background-color: #dddddd;*/
	background-color: #ddddff;
	padding: 0.2ex 0.6ex;
	text-decoration: none;
	margin: 0.3ex;
}
table.head-1-big tr td.l a:hover {
	color: white;
	background: #999999;
	padding: 0.2ex 0.6ex;
	text-decoration: none;
}
table.head-1-big tr td.l a.selected {
	color: white;
	background: navy;
	padding: 0.2ex 0.6ex;
	text-decoration: none;
}

table.head-1-small {
	margin: 0 0.6ex 0.6ex 0;
	float: left;
}
table.head-1-small tr td.h {
	white-space: nowrap;
	border-top: 2px solid navy;
	border-bottom: 2px solid navy;
	background: navy;
	color: white;
	font-size: 110%;
	font-weight: bold;
	padding: 0.2ex 1ex;
}
table.head-1-small tr td.l {
	display: none;
}

h1 {
	margin: 0 0 0.6ex 0;
	border-top: 2px solid navy;
	border-bottom: 2px solid navy;
	clear: both;
	background: navy;
	color: white;
	font-size: 110%;
	font-weight: bold;
	padding: 0.2ex 1ex;
}

.magic-table-row {
	cursor: pointer;
}